<div class="row">

  <!-- left menu -->
  <div class="col-xs-3 ad-menu">
  
    <!-- header -->
    <div class="text-center col-xs-10 col-xs-offset-1">
      <h3>{{appTitle}}<a title="Edit Server" href="#/" class="glyphicon glyphicon-pencil ad-change-server"></a></h3>
      <form role="form">
        <input type="search" data-ng-model="search" placeholder="Search…" class="form-control" />
      </form>
    </div>
    
    <!-- main menu -->
    <div class="col-xs-10 col-xs-offset-1">
      <ul id="menu-ul" data-pw-tree data-family="menu" data-get-keys="getKeys" data-toggle-state="toggleState" data-toggle="toggleMenu"></ul>
    </div>
  </div>

  <!-- content -->
  <div class="col-xs-9 col-xs-offset-3">
    <div class="clearfix col-xs-12" data-ng-if="!menu">
        <br /><br /><br /><br />
        <div data-us-spinner="{radius: 10, width: 4, length: 19, lines: 9, corners: 1.0, trail: 50, speed: 1.1, color: '#2291c3'}"></div>
    </div>
    <div class="col-xs-12" data-ng-repeat="result in results">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="ad-code">{{result.name}}</span><span class="pull-right">API Version <span class="badge">{{result.version}}</span></span></div>
        <div class="panel-body clearfix">
          <p>{{result.description}}</p>
          <div class="bs bs-inputs">
            <div class="well">
              <table>
                <tr data-ng-repeat="(key, val) in result.inputs">
                  <td class="ad-key ad-code">{{key}}</td>
                  <td class="ad-value" data-ng-class="{'ad-required': val.required, 'ad-optional': !val.required}">{{val.required ? 'required' : 'optional'}}</td>
                </tr>
            </table>
            </div>
          </div>
          <div class="bs bs-output">
            <div class="well">
              <pre class="ad-output" data-pretty-json="result.outputExample"  />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>